#search{
    width: 40%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
    text-indent: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
}

#search:focus{
    outline: none;
    border-bottom: 1px solid rgb(255, 68, 0);
}

#sort{
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.searchBtn{
    margin-left: 0.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: black;
    color: white;
}

select:focus{
    border-color: rgb(255, 68, 0);
}
.searchColumn{
    height: 2rem;
    margin: 0 1rem;
    border-radius: 0.3rem;
}

.searchColumn:focus{
    outline: none;
}