/** @format */
/** @format */

body {
   margin: 0;
   padding: 0;
   /* background: url(../public/images/background.jpg) no-repeat;
   ba */
   background-color: #000;
   background-size: cover;
}
.box {
   width: 450px;
   background: rgba(0, 0, 0, 0.4);
   padding: 40px;
   text-align: center;
   margin: auto;
   /* margin-top: 5%; */
   color: white;
   font-family: 'Century Gothic', sans-serif;
}
.box-img {
   border-radius: 50%;
   width: 200px;
   height: 200px;
}
.box h1 {
   font-size: 40px;
   letter-spacing: 4px;
   font-weight: 100;
}
.box h5 {
   font-size: 20px;
   letter-spacing: 3px;
   font-weight: 100;
}
.box p {
   text-align: justify;
}
ul {
   margin: 0;
   padding: 0;
}
.box li {
   display: inline-block;
   margin: 6px;
   list-style: none;
}
.box li a {
   color: white;
   text-decoration: none;
   font-size: 60px;
   transition: all ease-in-out 250ms;
}
.box li a:hover {
   color: #b9b9b9;
}

.box .button {
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   z-index: 5;
}

.box .button a {
   width: 40px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   vertical-align: middle;
   align-items: center;
   cursor: pointer;
   color: white;
   background: rgba(0, 0, 0, 0.8);
   font-size: 20px;
   user-select: none;
}

.box .button .prev {
   border-radius: 0 5px 5px 0;
}

.box .button .next {
   border-radius: 5px 0 0 5px;
}

.dots {
   text-align: center;
   position: absolute;
   left: 45%;
   background: rgba(0, 0, 0, 0.8);
   padding: 5px 10px;
   height: 30px;
   border-radius: 15px;
}

.dot {
   cursor: pointer;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #bbb;
   display: inline-block;
   margin: 0 2px;
}

.active,
.dot:hover {
   background: yellow;
}

.header {
   position: relative;
   height: 100vh;
}

.header {
   grid-area: header;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 30px 0 30px;
   box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
   background-color: #1d2634;
}

nav {
   position: fixed;
   width: 100%;
   padding: 20px 0;
   z-index: 1;
}

nav .menu {
   max-width: 1200px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.menu ul {
   display: flex;
}

.menu ul li {
   list-style: none;
   margin-left: 7px;
}

.menu ul li a {
   text-decoration: none;
   color: #fff;
   font-size: 22px;
   font-weight: 600;
   padding: 10px 20px;
   transition: all 0.3s ease;
}

.menu ul li a:hover {
   background: black;
}

.menu ul li.active a {
   background: black;
}
body {
   margin: 0;
   padding: 0;
   background-color: #1d2634;
   color: #9e9ea4;
   font-family: 'Montserrat', sans-serif;
}

.header {
   position: relative;
   height: 100vh;
}

nav {
   position: fixed;
   width: 100%;
   padding: 20px 0;
   z-index: 1;
}

nav .menu {
   max-width: 1200px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.menu ul {
   display: flex;
}

.menu ul li {
   list-style: none;
   margin-left: 7px;
}

.menu ul li a {
   text-decoration: none;
   color: #fff;
   font-size: 22px;
   font-weight: 600;
   padding: 10px 20px;
   transition: all 0.3s ease;
}

.menu ul li a:hover {
   background: black;
}

.menu ul li.active a {
   background: black;
}

.grid-container {
   display: grid;
   grid-template-columns: 0px 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 3fr;
   grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
   height: 100vh;
}

.header {
   grid-area: header;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 30px 0 30px;
   box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
   display: none;
}

.main-container {
   grid-area: main;
   overflow-y: auto;
   padding: 20px 20px;
   color: black;
}
.main-cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 100px;
}

.card {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 25px;
   border-radius: 5px;
}

.card-inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.card-inner > .material-icons-outlined {
   font-size: 50px;
}

.charts {
   display: grid;
   grid-template-columns: 0.645fr 0.355fr;
   gap: 0px;
   margin-top: 10px;
}

.charts-card {
   background-color: #667aa1;
   /*margin-bottom: 20px;*/
   /*padding: 25px;*/
   box-sizing: border-box;
   -webkit-column-break-inside: avoid;
   border-radius: 5px;
   box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
   display: flex;
   align-items: center;
   justify-content: center;
}

.device {
   display: grid;
   background-color: white;
   box-sizing: border-box;
   -webkit-column-break-inside: avoid;
   border-radius: 5px;
   box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.toggle-one {
   position: relative;
   left: 320px;
   bottom: 65px;
   background: #444;
   width: 90px;
   height: 50px;
   border-radius: 30px;
}
.toggle-one .toggle-button {
   position: absolute;
   top: 5px;
   left: 5px;
   width: 40px;
   height: 40px;
   background: white;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.3s;
}

.toggle-two {
   position: relative;
   left: 320px;
   bottom: 134px;
   background: #444;
   width: 90px;
   height: 50px;
   border-radius: 30px;
}
.toggle-two .toggle-button {
   position: absolute;
   top: 5px;
   left: 5px;
   width: 40px;
   height: 40px;
   background: white;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.3s;
}

.text1 {
   position: relative;
   left: 420px;
   bottom: 102px;
   font-size: 25px;
   font: bolder;
   font-family: Arial, Helvetica, sans-serif;
}
.text2 {
   position: relative;
   left: 420px;
   bottom: 172px;
   font-size: 25px;
   font: bolder;
   font-family: Arial, Helvetica, sans-serif;
}

.toggle-one.active {
   background: cornflowerblue;
}
.toggle-two.active {
   background: cornflowerblue;
}

.toggle-one.active .toggle-button {
   left: 45px;
}
.toggle-two.active .toggle-button {
   left: 45px;
}

.light1 {
   position: relative;
   width: 160px;
   /*bottom: 81.77px;
  left: 183px;*/
   left: 95px;
   bottom: -40px;
}

.fan {
   position: relative;
   width: 160px;
   /*bottom: 81.77px;
  left: 183px;*/
   left: 95px;
   bottom: 30px;
}
/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
   .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
         'header'
         'main';
   }

   .menu-icon {
      display: inline;
   }
}

/* Small <= 768px */

@media screen and (max-width: 768px) {
   .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
   }

   .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
   }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
   .hedaer-left {
      display: none;
   }
}
